@import "src/common/styles/common.module";

.input {
  width: 150px;
  border-radius: 10px;

  background-color: $secondary-color;
  color: $text-color;
  font-size: 20px;
  border:1px solid $base-color;
  padding: 10px;
  box-shadow: 0 0 7px $base-color;
  @media screen and (max-width: 1200px) {
    width: 80%;
    margin: 10px auto;

  }

  &:active, &:focus {
    outline: none;
    border:1px solid $base-color;

  }

  &::placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.58);

  }
}